<div class="content">
  <span>pokedexApp app is running!</span>
</div>

<div *ngIf="!isLoading" class="loader">
  <div class="loader-inner">
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
    <div class="loader-line-wrap">
      <div class="loader-line"></div>
    </div>
  </div>
</div>

<div *ngIf="isLoading">
  <mat-checkbox class="example-margin" (change)="SwapDisplayedPokemons($event)">Pokémons sauvegardés</mat-checkbox>

  <table *ngIf="!showSavedPokemons" mat-table [dataSource]="pokemons" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let pokemon"> {{pokemon.name}} </td>
    </ng-container>

    <ng-container matColumnDef="save">
      <th mat-header-cell *matHeaderCellDef> Sauvegarder </th>
      <td mat-cell *matCellDef="let pokemon">
        <button mat-mini-fab color="primary" (click)="add(pokemon)">
          <mat-icon>save</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <table *ngIf="showSavedPokemons" mat-table [dataSource]="savedPokemons" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let savedPokemon"> {{savedPokemon.name}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Supprimer </th>
      <td mat-cell *matCellDef="let savedPokemon">
        <button mat-mini-fab color="primary" (click)="delete(savedPokemon)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsForSavedPokemon"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsForSavedPokemon;"></tr>
  </table>
</div>